/* your code here */

.content{
	background-color:black;
	height:350px;
}
.top{
	display:flex;
	flex-direction:row;
	padding:50px;
	font-size:40px;
	justify-content:space-between;
	
}
.logo_name{
	color:white;
}
